@namespace MudBlazor.ThemeManager
@inherits ComponentBaseWithState

<CascadingValue Value="this" >
<CascadingValue Value="_forceColorRender" >

<MudDrawer Anchor="Anchor.End"
           @bind-Open:get="_openState.Value"
           @bind-Open:set="_openState.SetValueAsync"
           Elevation="25"
           Overlay="false"
           Variant="@DrawerVariant.Temporary"
           Width="312px" >
<div class="pt-4 px-4" >
    <MudText Typo="Typo.h6" >Theme Presets</MudText>
    @if (ThemePresets is null || ThemePresets.Any() == false)
    {
        <MudSelect @bind-Value="@_noPresets"
                   Disabled="true"
                   T="string"
                   Underline="false" >
            <MudSelectItem Value="@("No Presets")" />
        </MudSelect>
    }
    else
    {
        <MudSelect Value="_selectedPreset"
                   T="IThemePreset"
                   ToStringFunc="@((x) => x?.NamePreset!)"
                   ValueChanged="OnThemePresetChangedAsync"
                   Underline="false" >
            @foreach (var item in ThemePresets!)
            {
                <MudSelectItem Value="@(item)" />
            }
            
        </MudSelect>
    }
</div>
<MudDivider Class="my-2" />
<div class="pt-2 px-4" >
    <MudText Class="mb-4"
             Typo="Typo.h6" >
        Custom Settings
    </MudText>
    <MudSelect Class="my-2"
               Dense="true"
               Label="Drawer ClipMode"
               T="DrawerClipMode"
               Underline="false"
               Value="@Theme.DrawerClipMode"
               ValueChanged="OnDrawerClipModeAsync" >
        <MudSelectItem T="DrawerClipMode"
                       Value="DrawerClipMode.Never" >
            Never
        </MudSelectItem>
        <MudSelectItem T="DrawerClipMode"
                       Value="DrawerClipMode.Docked" >
            Docked
        </MudSelectItem>
        <MudSelectItem T="DrawerClipMode"
                       Value="DrawerClipMode.Always" >
            Always
        </MudSelectItem>
    </MudSelect>
    <MudSelect Class="my-2"
               Dense="true"
               Label="Font Family"
               T="string"
               Underline="false"
               Value="@Theme.FontFamily"
               ValueChanged="OnFontFamilyAsync" >
        <MudSelectItem T="string"
                       Value="@("Roboto")" />
        <MudSelectItem T="string"
                       Value="@("Montserrat")" />
        <MudSelectItem T="string"
                       Value="@("Segoe UI")" />
        <MudSelectItem T="string"
                       Value="@("Ubuntu")" />
    </MudSelect>
    <MudSlider Class="mt-3"
               Max="25"
               Min="0"
               Step="1"
               T="int"
               Value="@Theme.DefaultBorderRadius"
               ValueChanged="OnDefaultBorderRadiusAsync" >
        <MudText Typo="Typo.body2" >
            Border Radius:
            <b>@($"{@Theme.DefaultBorderRadius}px")</b>
        </MudText>
    </MudSlider>
    <MudSlider Max="25"
               Min="0"
               Step="1"
               T="int"
               Value="@Theme.AppBarElevation"
               ValueChanged="OnAppBarElevationAsync" >
        <MudText Typo="Typo.body2" >
            AppBar Elevation:
            <b>@($"{@Theme.AppBarElevation}")</b>
        </MudText>
    </MudSlider>
    <MudSlider Max="25"
               Min="0"
               Step="1"
               T="int"
               Value="@Theme.DrawerElevation"
               ValueChanged="OnDrawerElevationAsync" >
        <MudText Typo="Typo.body2" >
            Drawer Elevation:
            <b>@($"{@Theme.DrawerElevation}")</b>
        </MudText>
    </MudSlider>
    <MudSlider Max="25"
               Min="0"
               Step="1"
               T="int"
               Value="@Theme.DefaultElevation"
               ValueChanged="OnDefaultElevationAsync" >
        <MudText Typo="Typo.body2" >
            Default Elevation:
            <b>@($"{@Theme.DefaultElevation}")</b>
        </MudText>
    </MudSlider>
</div>
<div class="pt-6" >
    <MudText Class="mx-4 mb-4"
             GutterBottom="true"
             Typo="Typo.body2" >
        <b>Theme Colors</b>
    </MudText>
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Primary"
                              Name="Primary"
                              ThemeColor="@_currentPalette.Primary" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Secondary"
                              Name="Secondary"
                              ThemeColor="@_currentPalette.Secondary" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Tertiary"
                              Name="Tertiary"
                              ThemeColor="@_currentPalette.Tertiary" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Info"
                              Name="Info"
                              ThemeColor="@_currentPalette.Info" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Success"
                              Name="Success"
                              ThemeColor="@_currentPalette.Success" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Warning"
                              Name="Warning"
                              ThemeColor="@_currentPalette.Warning" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Error"
                              Name="Error"
                              ThemeColor="@_currentPalette.Error" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Dark"
                              Name="Dark"
                              ThemeColor="@_currentPalette.Dark" />

    <MudText Class="pt-4 mx-4"
             GutterBottom="true"
             Typo="Typo.body2" >
        <b>Components</b>
    </MudText>
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.AppbarText"
                              Name="Appbar Text"
                              ThemeColor="@_currentPalette.AppbarText" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.AppbarBackground"
                              Name="Appbar BG"
                              ThemeColor="@_currentPalette.AppbarBackground" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.DrawerText"
                              Name="Drawer Text"
                              ThemeColor="@_currentPalette.DrawerText" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.DrawerIcon"
                              Name="Drawer Icons"
                              ThemeColor="@_currentPalette.DrawerIcon" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.DrawerBackground"
                              Name="Drawer BG"
                              ThemeColor="@_currentPalette.DrawerBackground" />

    <MudText Class="pt-4 mx-4"
             GutterBottom="true"
             Typo="Typo.body2" >
        <b>General</b>
    </MudText>
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Surface"
                              Name="Surface"
                              ThemeColor="@_currentPalette.Surface" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Background"
                              Name="Background"
                              ThemeColor="@_currentPalette.Background" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.BackgroundGray"
                              Name="Background Gray"
                              ThemeColor="@_currentPalette.BackgroundGray" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.LinesDefault"
                              Name="Lines Default"
                              ThemeColor="@_currentPalette.LinesDefault" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.LinesInputs"
                              Name="Lines Inputs"
                              ThemeColor="@_currentPalette.LinesInputs" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Divider"
                              Name="Divider"
                              ThemeColor="@_currentPalette.Divider" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.DividerLight"
                              Name="Divider Light"
                              ThemeColor="@_currentPalette.DividerLight" />


    <MudText Class="pt-4 mx-4"
             GutterBottom="true"
             Typo="Typo.body2" >
        <b>Text & Actions</b>
    </MudText>
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.TextPrimary"
                              Name="Text Primary"
                              ThemeColor="@_currentPalette.TextPrimary" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.TextSecondary"
                              Name="Text Secondary"
                              ThemeColor="@_currentPalette.TextSecondary" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.TextDisabled"
                              Name="Text Disabled"
                              ThemeColor="@_currentPalette.TextDisabled" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.ActionDefault"
                              Name="Action Default"
                              ThemeColor="@_currentPalette.Surface" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.ActionDisabled"
                              Name="Action Disabled"
                              ThemeColor="@_currentPalette.ActionDisabled" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.ActionDisabledBackground"
                              Name="Disabled BG"
                              ThemeColor="@_currentPalette.ActionDisabledBackground" />
    <MudThemeManagerColorItem ColorPickerView="ColorPickerView"
                              ColorType="ThemePaletteColor.Surface"
                              Name="Surface"
                              ThemeColor="@_currentPalette.Surface" />
</div>
</MudDrawer>
<MudOverlay @bind-Visible:get="_openState.Value"
            @bind-Visible:set="_openState.SetValueAsync"
            DarkBackground="false"
            OnClick="@UpdateOpenValueAsync" />

</CascadingValue>
</CascadingValue>