@namespace MudBlazor.ThemeManager

<CascadingValue Value="this">
    <MudDrawer @bind-Open="@Open" Anchor="Anchor.End" Elevation="25" Variant="@DrawerVariant.Temporary" DisableOverlay="true" Class="mud-themedrawer" Width="312px">
        <div class="pt-4 px-4">
            <MudText Typo="Typo.h6">Theme Presets</MudText>
            <MudSelect T="string" @bind-Value="@ThemePresets" Disabled="true" DisableUnderLine="true">
                <MudSelectItem Value="@("Not Implemented")" />
            </MudSelect>
        </div>
        <MudDivider Class="my-2" />
        <div class="pt-2 px-4">
            <MudText Typo="Typo.h6" Class="mb-4">Custom Settings</MudText>
            <MudSelect Label="Drawer ClipMode" T="DrawerClipMode" Value="@Theme.DrawerClipMode" ValueChanged="OnDrawerClipMode" Dense="true" DisableUnderLine="true" Class="my-2">
                <MudSelectItem T="DrawerClipMode" Value="DrawerClipMode.Never">Never</MudSelectItem>
                <MudSelectItem T="DrawerClipMode" Value="DrawerClipMode.Docked">Docked</MudSelectItem>
                <MudSelectItem T="DrawerClipMode" Value="DrawerClipMode.Always">Always</MudSelectItem>
            </MudSelect>
            <MudSelect Label="Font Family" T="string" Value="@Theme.FontFamily" ValueChanged="OnFontFamily" Dense="true" DisableUnderLine="true" Class="my-2">
                <MudSelectItem T="string" Value="@("Roboto")" />
                <MudSelectItem T="string" Value="@("Montserrat")" />
                <MudSelectItem T="string" Value="@("Segoe UI")" />
                <MudSelectItem T="string" Value="@("Ubuntu")" />
            </MudSelect>
            <MudSlider Step="1" Min="0" Max="25" T="int" Value="@Theme.DefaultBorderRadius" ValueChanged="OnDefaultBorderRadius" Class="mt-3"><MudText Typo="Typo.body2">Border Radius: <b>@($"{@Theme.DefaultBorderRadius}px")</b></MudText></MudSlider>
            <MudSlider Step="1" Min="0" Max="25" T="int" Value="@Theme.AppBarElevation" ValueChanged="OnAppBarElevation"><MudText Typo="Typo.body2">AppBar Elevation: <b>@($"{@Theme.AppBarElevation}")</b></MudText></MudSlider>
            <MudSlider Step="1" Min="0" Max="25" T="int" Value="@Theme.DrawerElevation" ValueChanged="OnDrawerElevation"><MudText Typo="Typo.body2">Drawer Elevation: <b>@($"{@Theme.DrawerElevation}")</b></MudText></MudSlider>
            <MudSlider Step="1" Min="0" Max="25" T="int" Value="@Theme.DefaultElevation" ValueChanged="OnDefaultElevation"><MudText Typo="Typo.body2">Default Elevation: <b>@($"{@Theme.DefaultElevation}")</b></MudText></MudSlider>
        </div>
        <div class="pt-6">
            <MudText Typo="Typo.body2" GutterBottom="true" Class="mx-4 mb-4"><b>Theme Colors</b></MudText>
            <MudThemeManagerColorItem Name="Primary" ThemeColor="@_customTheme.Palette.Primary" ColorType="ThemePaletteColor.Primary" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Secondary" ThemeColor="@_customTheme.Palette.Secondary" ColorType="ThemePaletteColor.Secondary" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Tertiary" ThemeColor="@_customTheme.Palette.Tertiary" ColorType="ThemePaletteColor.Tertiary" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Info" ThemeColor="@_customTheme.Palette.Info" ColorType="ThemePaletteColor.Info" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Success" ThemeColor="@_customTheme.Palette.Success" ColorType="ThemePaletteColor.Success" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Warning" ThemeColor="@_customTheme.Palette.Warning" ColorType="ThemePaletteColor.Warning" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Error" ThemeColor="@_customTheme.Palette.Error" ColorType="ThemePaletteColor.Error" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Dark" ThemeColor="@_customTheme.Palette.Dark" ColorType="ThemePaletteColor.Dark" ColorPickerView="ColorPickerView" />

            <MudText Typo="Typo.body2" GutterBottom="true" Class="pt-4 mx-4"><b>Components</b></MudText>
            <MudThemeManagerColorItem Name="Appbar Text" ThemeColor="@_customTheme.Palette.AppbarText" ColorType="ThemePaletteColor.AppbarText" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Appbar BG" ThemeColor="@_customTheme.Palette.AppbarBackground" ColorType="ThemePaletteColor.AppbarBackground" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Drawer Text" ThemeColor="@_customTheme.Palette.DrawerText" ColorType="ThemePaletteColor.DrawerText" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Drawer Icons" ThemeColor="@_customTheme.Palette.DrawerIcon" ColorType="ThemePaletteColor.DrawerIcon" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Drawer BG" ThemeColor="@_customTheme.Palette.DrawerBackground" ColorType="ThemePaletteColor.DrawerBackground" ColorPickerView="ColorPickerView" />

            <MudText Typo="Typo.body2" GutterBottom="true" Class="pt-4 mx-4"><b>General</b></MudText>
            <MudThemeManagerColorItem Name="Surface" ThemeColor="@_customTheme.Palette.Surface" ColorType="ThemePaletteColor.Surface" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Background" ThemeColor="@_customTheme.Palette.Background" ColorType="ThemePaletteColor.Background" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Background Grey" ThemeColor="@_customTheme.Palette.BackgroundGrey" ColorType="ThemePaletteColor.BackgroundGrey" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Lines Default" ThemeColor="@_customTheme.Palette.LinesDefault" ColorType="ThemePaletteColor.LinesDefault" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Lines Inputs" ThemeColor="@_customTheme.Palette.LinesInputs" ColorType="ThemePaletteColor.LinesInputs" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Divider" ThemeColor="@_customTheme.Palette.Divider" ColorType="ThemePaletteColor.Divider" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Divider Light" ThemeColor="@_customTheme.Palette.DividerLight" ColorType="ThemePaletteColor.DividerLight" ColorPickerView="ColorPickerView" />


            <MudText Typo="Typo.body2" GutterBottom="true" Class="pt-4 mx-4"><b>Text & Actions</b></MudText>
            <MudThemeManagerColorItem Name="Text Primary" ThemeColor="@_customTheme.Palette.TextPrimary" ColorType="ThemePaletteColor.TextPrimary" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Text Secondary" ThemeColor="@_customTheme.Palette.TextSecondary" ColorType="ThemePaletteColor.TextSecondary" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Text Disabled" ThemeColor="@_customTheme.Palette.TextDisabled" ColorType="ThemePaletteColor.TextDisabled" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Action Default" ThemeColor="@_customTheme.Palette.Surface" ColorType="ThemePaletteColor.ActionDefault" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Action Disabled" ThemeColor="@_customTheme.Palette.ActionDisabled" ColorType="ThemePaletteColor.ActionDisabled" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Disabled BG" ThemeColor="@_customTheme.Palette.ActionDisabledBackground" ColorType="ThemePaletteColor.ActionDisabledBackground" ColorPickerView="ColorPickerView" />
            <MudThemeManagerColorItem Name="Surface" ThemeColor="@_customTheme.Palette.Surface" ColorType="ThemePaletteColor.Surface" ColorPickerView="ColorPickerView" />
        </div>
    </MudDrawer>
    <MudOverlay @bind-Visible="Open" OnClick="@UpdateOpenValue" DarkBackground="false" />
</CascadingValue>